body {
    margin: 0;
}

#chart {
    width: 800px;
    height: 80vh;
    overflow: scroll;
    margin: 10vh auto 0;
    border: solid 2px #e6e6e6;
    border-radius: 7px;
}

.links line {
    stroke: #e6e6e6;
    stroke-opacity: 0.6;
}

.nodes circle {
    stroke-width: 1.5px;
}

.nodes circle:hover {
    stroke-width: 3px;
    cursor: grab;
}

.labels {
    fill: #a6a6a6;
    font-family: Abel;
}

.choices {
    fill: #a6a6a6;
    font-family: Abel;
    display: none;
}
