/*Styles for the markers*/

#arrow {
    stroke: #e6e6e6;
    fill: #fff;
    stroke-width: 1;
}


/*Styles for all links*/

.links line {
    stroke: #e6e6e6;
    stroke-opacity: 0.6;
}


/*Styles for all nodes*/

.nodes circle {
    stroke-width: 1.5px;
}

.nodes circle:hover {
    stroke-width: 4px;
    /*cursor: -webkit-grab;*/
    cursor: pointer;
}

.nodes circle:active {
    cursor: -webkit-grabbing;
}


/*Style for all the text (not including tooltips)*/

.labels {
    fill: #a6a6a6;
}

.choices {
    fill: #a6a6a6;
    visibility: hidden;
}


/*Style for the tooltips*/

#tooltipNode {
    max-width: 200px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 #e6e6e6;
    background: rgba(256, 256, 256, 0.6);
}
